@font-face
{
    font-family: fixedsys;
    src: url(../font/FSEX300.ttf);
}

@keyframes flicker
{
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
}

@keyframes scanline
{
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}

@keyframes type
{
    0%{
        width: 0;
    }

    50%{
        width: 50%;
    }

    100%{
        width: 100%;
    }
}

.crt:before
{
    content: " ";
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 5px;
    z-index: 2;
    pointer-events: none;
}

.crt::after
{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

::-webkit-scrollbar
{
    width: 0px;
    background: transparent;
}

.monitor
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    background-color: #0b261a;
}

.bezel
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 30px solid transparent;
    border-image: url(../src/bezel.png) 30 stretch;
}

.scanline
{
    z-index: 8;
    background: linear-gradient(    0deg,    rgba(0, 0, 0, 0) 0%,    rgba(255, 255, 255, 0.2) 10%,    rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    -webkit-animation: scanline 10s linear infinite;
    pointer-events: none;
}

.terminal
{
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    font-size: 2rem;
    overflow: scroll;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    font-family: fixedsys;
    color: #22b55f;
    text-shadow: 0 0 20px #1da455;
    line-height: 50px;
}

header
{
    text-align: center;
}

#btnAccess, #menu button, #content button
{
    font-size: 2rem;
    font-family: inherit;
    color: #22b55f;
    background-color: transparent;
    text-shadow: 0 0 20px #1da455;
    cursor: pointer;
    border: none;
}

#btnAccess:hover, #menu button:hover, #content button:hover
{
    color: #dddddd;
    background-color: #1da455;
    box-shadow: 0 0 10px 5px #1da455;
}

@media (min-width: 2560px)
{
    .terminal, #btnAccess, #menu button, #content button
    {
        font-size: 3rem;
    }

    .terminal
    {
        padding: 10px 70px 10px 70px;
        line-height: 80px;
    }
}

@media (max-width: 720px)
{
    .terminal, #btnAccess, #menu button, #content button
    {
        font-size: 1.5rem;
    }

    .terminal
    {
        padding: 10px 30px 10px 30px;
        line-height: 40px;
    }
}

@media (max-width: 420px)
{
    .terminal, #btnAccess, #menu button, #content button
    {
        font-size: 1rem;
    }

    .terminal
    {
        padding: 10px 10px 10px 10px;
        line-height: 20px;
    }
}
